@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

h1 {
  font-size: 56px;
}
h2 {
  font-size: 44px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10%;
}

.header__logo {
  height: 57px;
  padding: 12px 20px 0px 20px;
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #ef2d56;
}

button {
  padding: 9px 25px;
  background-color: rgba(239, 45, 86, 0);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(239, 45, 86, 1);
}

.main {
  width: 100%;
  height: calc(100vh - 88px);
  background-image: url(assets/banner1.png);
}

.main__titles {
  position: relative;
  top: 34vh;
  text-align: center;
  color: #fffceb;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
  line-height: 1.8em;
}

.main__btn {
  background: #fa8334;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}
