@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

h1 {
  font-size: 56px;
}
h2 {
  font-size: 44px;
}
h3 {
  font-size: 38px;
  color: #fa8334;
  font-weight: 300;
  text-align: center;
}
h4 {
  font-size: 32px;
  color: #fa8334;
  font-weight: 300;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10%;
}

.header__logo {
  height: 57px;
  padding: 12px 20px 0px 20px;
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #ef2d56;
}

button {
  padding: 9px 25px;
  background-color: rgba(239, 45, 86, 0);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(239, 45, 86, 1);
}

main {
  width: 100%;
  height: calc(100vh - 88px);
  background-image: url(assets/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main__titles {
  position: relative;
  top: 34vh;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
  line-height: 1.8em;
}

.main__btn {
  background: #fa8334;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

.content {
  padding: 104px 40px 74px 40px;
}
.content__container {
  width: 64vw;
  margin: auto;
}

.content__title {
  text-align: center;
}

.content__btn {
  background: #fa8334;
}

hr {
  margin: 2em auto;
  border: none;
  height: 1px;
  width: 4em;
  background: #fa8334;
}

.category__card {
  width: 600px;
  display: inline-block;
  margin: 20px 6px;
}

.content__feedback h3 {
  margin-top: 2em;
}

.feedback__container {
  display: flex;
}

.feedback__txt {
  margin: 0 1em;
  text-align: center;
  flex: 1;
  width: 200px;
}

.feedback__txt img {
  stroke: #fa8334;
  stroke-width: 333px;
  width: 30px;
}

footer {
  height: 40vh;
  background: #231a23;
  color: #b8b8b8;
  padding: 3em 20em;
}
.footer__left {
  line-height: 2em;
  font-size: 12px;
  float: left;
}
.footer__right li {
  float: right;
  display: inline-block;
  list-style: none;
  margin: 0 1em;
}
.footer__right li a {
  color: #b8b8b8;
  transition: all 0.3s ease 0s;
}

.footer__right li a:hover {
  color: #fff;
}

.footer__cr {
  margin-top: 300px;
}
